body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', 'Nunito', 'Helvetica', 'sans-serif';
  color: #181c32;
  background-color: #EEF0F8;
}